@font-face {
  font-family: "iconfont"; /* Project id 4256690 */
  src: url('https://at.alicdn.com/t/c/font_4256690_oimlxxdkanr.woff2?t=1699348418747') format('woff2'),
       url('https://at.alicdn.com/t/c/font_4256690_oimlxxdkanr.woff?t=1699348418747') format('woff'),
       url('https://at.alicdn.com/t/c/font_4256690_oimlxxdkanr.ttf?t=1699348418747') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiazaizhong:before {
  content: "\e61a";
}

.icon-search:before {
  content: "\e699";
}

.icon-meinv:before {
  content: "\e6e1";
}

.icon-meiyoushuju:before {
  content: "\e60b";
}

.icon-xiaoxi:before {
  content: "\e711";
}

.icon-morentouxiang2:before {
  content: "\e677";
}

.icon-fasongxiaoxi:before {
  content: "\e607";
}

.icon-xiangji:before {
  content: "\e8bc";
}

.icon-xiangyoujiantou1:before {
  content: "\e608";
}

.icon-xiangyoujiantou:before {
  content: "\e645";
}

.icon-jianyi:before {
  content: "\e6cf";
}

.icon-shezhi:before {
  content: "\e70f";
}

.icon-morentouxiang1:before {
  content: "\e60a";
}

.icon-morentouxiang:before {
  content: "\e604";
}

.icon-camera:before {
  content: "\e86e";
}

.icon-siwangbinzang:before {
  content: "\e619";
}

.icon-shengri:before {
  content: "\e7a6";
}

.icon-weishengjin:before {
  content: "\e60c";
}

.icon-jiehunzhao:before {
  content: "\e673";
}

.icon-Love00002:before {
  content: "\eb6b";
}

.icon-yonghuzhongxin:before {
  content: "\e600";
}

.icon-jingqingqidai:before {
  content: "\e618";
}

.icon-teshuriqi:before {
  content: "\e641";
}

.icon-jizhangben:before {
  content: "\e61c";
}

.icon-jishiben:before {
  content: "\e616";
}
